.gradle/
build/
run/
run-data/
runs/
out/
.idea/
.vscode/
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
bin/
*.log
src/generated/
libs/*.jar
crash-reports/
logs/
**/hs_err_pid*.log
**/replay_pid*.log
ae2-extract/
ae2-ponder/
ae2.zip
tmp_*/
rbasamoyai/
build-log.txt
